body{
	background-color: #262626;
	color: white;
	padding: 20px;
	padding-top: 16px;
}
#stop{
	width: 80%;
	max-width: 800px;
	margin-top: 0px;
	margin-bottom: 16px;
	margin-right: 0px;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
}
#age{
	width: 40px;
	position: absolute;
	top: 28px;
	right: 24px;
	margin: 0px;
	font-family: "Source Sans Pro";
   font-size: 16px;
}
#lines{
	font-family: "Source Sans Pro";
	font-size: 22px;
	line-height: 36px;
	text-align: left;
}
table#lines{
	width: 100%;
	max-width: 800px;
	padding: 0px;
}

table#line th{
	text-weight: bold;
}

th{ padding: 0px;}
td{ padding: 0px;}
tr{ padding: 0px;}

th.line{
	width: 70px;
}
th.arrow{
	width: 40px;
}

td.next{
	font-size: 28px;
	text-align: right;
}

td.time{
	text-align: right;
}

th.clock{
	width: 100px;
	text-align: right;
}

img.nextclock{
   margin-top: 8px;
   margin-right: 15px;
}
img.clock{
	margin-top: 8px;
	margin-right: 8px;
}
