body{
	background-color: #262626;
	color: white;
	padding: 20px;
	padding-top: 16px;
}
#stop{
	width: 80%;
	max-width: 800px;
	margin-top: 0px;
	margin-bottom: 16px;
	margin-right: 0px;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
}
#clock{
	width: 140px;
	position: absolute;
   top: 18px;
   right: 22px;
	text-align: right;
   margin: 0px;
	padding-right: 4px;
   font-family: "Source Sans Pro";
   font-size: 36px;
}
#age{
	width: 40px;
	position: absolute;
	bottom: 28px;
	right: 24px;
	margin: 0px;
	font-family: "Source Sans Pro";
   font-size: 16px;
}
#lines, #header{
	font-family: "Source Sans Pro";
	font-size: 22px;
	line-height: 36px;
	text-align: left;
}
table#lines, table#header{
	width: 100%;
	max-width: 940px;
	padding: 0px;
}

table#header{
	font-size: 26px;
	font-height: 40px;
	font-weight: bold;
	height: 40px;
}

th{ padding: 0px;}
td{ padding: 0px;}
tr{ padding: 0px;}

.line{
	width: 100px;
}
td.line{
	font-size: 32px;
	font-height: 40px;
	font-weight: bold;
}
.arrow{
	width: 40px;
}

td.next{
	font-size: 32px;
	font-height: 40px;
	width: 100px;
	height: 40px;
	text-align: right;
}

td.time{
	text-align: right;
	width: 100px;
}

th.timeicon{
	width: 100px;
}

div#nexticon{
	float: right;
	background-color: white;
	height: 32px;
	width: 32px;
   margin-right: 20px;
	-webkit-mask-box-image: url(clock.png);
}
div#secondicon, div#thirdicon{
	float: right;
	background-color: white;
	height: 32px;
   width: 32px;
	margin-right: 8px;
	-webkit-mask-box-image: url(clock.png);
}
